@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
}

body, #root {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
}

.con {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

.container {
    width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.shop_back {
    height: 100vh;
    background: black;
    width: 100%;
}