@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
}

body, #root {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.con {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

.container {
    width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.shop_back {
    height: 100%;
    min-height: 100vh;
    background: black;
    width: 100%;
}


/* Updated CSS Styles */

.shopping_cart {
    background-color: #f4f4f4;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.cart_items {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.shopping_cart {
    background: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center items */
    align-items: center; /* Horizontally center items */
    color: black;
    text-align: center;
}

.shopping_cart_item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_price {
    font-weight: bold;
    color: #0074e4; /* Blue color for prices */
}

.delete_button {
    background-color: #ff3333; /* Red color for delete buttons */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete_button:hover {
    background-color: #ff0000; /* Darker red on hover */
}

.cart_items {
    width: 80%; /* Adjust the width as needed */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
