.information {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;

    background: black;

    padding-top: 125px;
}

.information_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.information_item:first-child span{
    margin-left: 50px;
}


.information_item:last-child span{
    margin-right: 50px;
}

.information_item img {
    width: 500px;
}

.information_item span {
    font-size: 25px;
    font-weight: 600;
}